*.gcda
*.gcno
*.log
*.o
*.lo
*.trs
*~
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.rpath
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/test-driver
build-aux/texinfo.tex
config.h
config.h.in
config.log
config.status
configure
contrib/doxygen/Doxyfile
contrib/doxygen/doxygen_sqlite3.db
contrib/doxygen/html/
contrib/doxygen/latex/
csharp/CombiningClass.cs
csharp/Composition.cs
csharp/CompositionExclusions.txt
csharp/DecompositionKeys.cs
csharp/DecompositionMappings.cs
csharp/GenerateTables.exe
csharp/Libidn.dll
csharp/Makefile
csharp/Makefile.in
csharp/RFC3454.cs
csharp/UnicodeData.txt
csharp/rfc3454.txt
csharpcomp.sh
csharpexec.sh
doc/Makefile
doc/Makefile.gdoc
doc/Makefile.in
doc/coverage/
doc/cyclo/Makefile
doc/cyclo/Makefile.in
doc/cyclo/cyclo-libidn.html
doc/idn.1
doc/java/Makefile
doc/java/Makefile.in
doc/java/about.html
doc/java/alphaindex.html
doc/java/deprecated.html
doc/java/gjdoc.properties
doc/java/gnu/
doc/java/index.html
doc/java/package-list
doc/java/resources/
doc/java/serialized-form.html
doc/libidn-components.eps
doc/libidn-components.pdf
doc/libidn-components.png
doc/libidn.aux
doc/libidn.cp
doc/libidn.cps
doc/libidn.dvi
doc/libidn.fn
doc/libidn.fns
doc/libidn.html
doc/libidn.info
doc/libidn.ky
doc/libidn.log
doc/libidn.pdf
doc/libidn.pg
doc/libidn.ps
doc/libidn.t2d/
doc/libidn.t2p/
doc/libidn.toc
doc/libidn.tp
doc/libidn.vr
doc/libidn.vrs
doc/man/
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/html-build.stamp
doc/reference/html.stamp
doc/reference/html/
doc/reference/libidn-decl-list.txt
doc/reference/libidn-decl-list.txt.bak
doc/reference/libidn-decl.txt
doc/reference/libidn-decl.txt.bak
doc/reference/libidn-overrides.txt
doc/reference/libidn-sections.txt
doc/reference/libidn-undeclared.txt
doc/reference/libidn-undocumented.txt
doc/reference/libidn-unused.txt
doc/reference/libidn.args
doc/reference/libidn.hierarchy
doc/reference/libidn.interfaces
doc/reference/libidn.pdf
doc/reference/libidn.prerequisites
doc/reference/libidn.signals
doc/reference/libidn.types
doc/reference/pdf-build.stamp
doc/reference/pdf.stamp
doc/reference/scan-build.stamp
doc/reference/setup-build.stamp
doc/reference/sgml-build.stamp
doc/reference/sgml.stamp
doc/reference/tmpl-build.stamp
doc/reference/tmpl.stamp
doc/reference/tmpl/
doc/reference/version.xml
doc/reference/xml/
doc/specifications/Makefile
doc/specifications/Makefile.in
doc/stamp-vti
doc/texi/
doc/tld/Makefile
doc/tld/Makefile.in
doc/version.texi
examples/.deps/
examples/.libs/
examples/Makefile
examples/Makefile.in
examples/example
examples/example2
examples/example3
examples/example4
examples/example5
fuzz/.deps/
fuzz/libidn_*_fuzzer
fuzz/libidn_*_fuzzer.new/
gl/.deps/
gl/.libs/
gl/Makefile
gl/Makefile.in
gl/alloca.h
gl/getopt.h
gl/libgnu.la
gl/math.h
gl/stddef.h
gl/stdio.h
gl/stdlib.h
gl/string.h
gl/sys/
gl/unistd.h
gl/vfprintf.lo
gl/wchar.h
gltests/.deps/
gltests/Makefile
gltests/Makefile.in
gltests/alloca.h
gltests/arpa/
gltests/ctype.h
gltests/fcntl.h
gltests/inttypes.h
gltests/libtests.a
gltests/signal.h
gltests/stdio.h
gltests/stdlib.h
gltests/sys/
gltests/test-alloca-opt
gltests/test-binary-io
gltests/test-close
gltests/test-dup2
gltests/test-environ
gltests/test-errno
gltests/test-fcntl-h
gltests/test-fdopen
gltests/test-fgetc
gltests/test-float
gltests/test-fputc
gltests/test-fread
gltests/test-frexp-nolibm
gltests/test-frexpl-nolibm
gltests/test-fseterr
gltests/test-fstat
gltests/test-fwrite
gltests/test-getcwd-lgpl
gltests/test-getdelim
gltests/test-getdtablesize
gltests/test-getline
gltests/test-getopt
gltests/test-gettimeofday
gltests/test-ignore-value
gltests/test-intprops
gltests/test-inttypes
gltests/test-isnand-nolibm
gltests/test-isnanf-nolibm
gltests/test-isnanl-nolibm
gltests/test-lstat
gltests/test-malloca
gltests/test-math
gltests/test-memchr
gltests/test-open
gltests/test-pathmax
gltests/test-printf-frexp
gltests/test-printf-frexpl
gltests/test-setenv
gltests/test-signbit
gltests/test-stat
gltests/test-stdalign
gltests/test-stdbool
gltests/test-stddef
gltests/test-stdint
gltests/test-stdio
gltests/test-stdlib
gltests/test-strerror
gltests/test-string
gltests/test-symlink
gltests/test-sys_stat
gltests/test-sys_time
gltests/test-sys_types
gltests/test-sys_wait
gltests/test-time
gltests/test-unistd
gltests/test-unsetenv
gltests/test-vasnprintf
gltests/test-verify
gltests/test-version-etc
gltests/test-vfprintf-posix
gltests/test-wchar
gltests/time.h
gltests/wchar.h
gtk-doc.make
java/libidn-*.jar
java/src/main/java/gnu/inet/encoding/CombiningClass.class
java/src/main/java/gnu/inet/encoding/Composition.class
java/src/main/java/gnu/inet/encoding/DecompositionKeys.class
java/src/main/java/gnu/inet/encoding/DecompositionMappings.class
java/src/main/java/gnu/inet/encoding/IDNA.class
java/src/main/java/gnu/inet/encoding/IDNAException.class
java/src/main/java/gnu/inet/encoding/NFKC.class
java/src/main/java/gnu/inet/encoding/Punycode.class
java/src/main/java/gnu/inet/encoding/PunycodeException.class
java/src/main/java/gnu/inet/encoding/RFC3454.class
java/src/main/java/gnu/inet/encoding/RangeSet$1.class
java/src/main/java/gnu/inet/encoding/RangeSet$Builder.class
java/src/main/java/gnu/inet/encoding/RangeSet$Range.class
java/src/main/java/gnu/inet/encoding/RangeSet$RangeContainsComparator.class
java/src/main/java/gnu/inet/encoding/RangeSet.class
java/src/main/java/gnu/inet/encoding/Stringprep.class
java/src/main/java/gnu/inet/encoding/StringprepException.class
java/src/main/java/gnu/inet/encoding/classnoinst.stamp
java/src/util/java/GenerateNFKC.class
java/src/util/java/GenerateRFC3454$Range.class
java/src/util/java/GenerateRFC3454.class
java/src/util/java/TestIDNA.class
java/src/util/java/TestNFKC.class
java/src/util/java/classnoinst.stamp
java/target
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
lib/gl/.deps/
lib/gl/.libs/
lib/gl/Makefile
lib/gl/Makefile.in
lib/gl/c-strncasecmp.lo
lib/gl/iconv.h
lib/gl/iconv_open-aix.h
lib/gl/iconv_open-hpux.h
lib/gl/iconv_open-irix.h
lib/gl/iconv_open-osf.h
lib/gl/iconv_open-solaris.h
lib/gl/libgnu.la
lib/gl/stddef.h
lib/gl/striconv.lo
lib/gl/string.h
lib/gl/sys/
lib/gl/unistr.h
lib/gl/unistr/.deps/
lib/gl/unistr/.dirstamp
lib/gl/unistr/.libs/
lib/gl/unistr/unistr
lib/gl/unitypes.h
lib/gl/wchar.h
lib/gltests/.deps/
lib/gltests/Makefile
lib/gltests/Makefile.in
lib/gltests/alloca.h
lib/gltests/ctype.h
lib/gltests/glthread/.deps/
lib/gltests/glthread/.dirstamp
lib/gltests/glthread/glthread
lib/gltests/inttypes.h
lib/gltests/langinfo.h
lib/gltests/libtests.a
lib/gltests/locale.h
lib/gltests/signal.h
lib/gltests/stdlib.h
lib/gltests/sys/
lib/gltests/test-alloca-opt
lib/gltests/test-c-ctype
lib/gltests/test-c-strcasecmp
lib/gltests/test-c-strncasecmp
lib/gltests/test-ctype
lib/gltests/test-environ
lib/gltests/test-iconv
lib/gltests/test-intprops
lib/gltests/test-inttypes
lib/gltests/test-langinfo
lib/gltests/test-locale
lib/gltests/test-localename
lib/gltests/test-lock
lib/gltests/test-malloca
lib/gltests/test-setenv
lib/gltests/test-setlocale1
lib/gltests/test-setlocale2
lib/gltests/test-stdalign
lib/gltests/test-stdbool
lib/gltests/test-stddef
lib/gltests/test-stdint
lib/gltests/test-stdlib
lib/gltests/test-striconv
lib/gltests/test-string
lib/gltests/test-strverscmp
lib/gltests/test-sys_types
lib/gltests/test-thread_create
lib/gltests/test-thread_self
lib/gltests/test-u8-check
lib/gltests/test-u8-mbtoucr
lib/gltests/test-u8-uctomb
lib/gltests/test-unistd
lib/gltests/test-unsetenv
lib/gltests/test-verify
lib/gltests/test-wchar
lib/gltests/time.h
lib/gltests/unistd.h
lib/gltests/unistr/.deps/
lib/gltests/unistr/.dirstamp
lib/gltests/unistr/unistr
lib/gltests/wchar.h
lib/idn-int.h
lib/libidn.la
lib/rfc3454.c
lib/rfc3454.h
lib/tlds.c
libidn-*.tar.gz
libidn-*.tar.gz.sig
libidn.pc
libtool
m4/codeset.m4
m4/extern-inline.m4
m4/fcntl-o.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/gtk-doc.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/threadlib.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/xsize.m4
po/*.gmo
po/*.po
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@boldquot.insert-header
po/en@quot.header
po/en@quot.insert-header
po/insert-header.sin
po/libidn.pot
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
pom.xml
scan.tmp
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/idn
src/idn_cmd.c
src/idn_cmd.h
src/libidn_cmd.la
stamp-h1
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/libutils.a
tests/tst_badutf8
tests/tst_badutf8nfkc
tests/tst_idna
tests/tst_idna2
tests/tst_idna3
tests/tst_idna4
tests/tst_nfkc
tests/tst_pr29
tests/tst_punycode
tests/tst_strerror
tests/tst_stringprep
tests/tst_symbols
tests/tst_tld
tests/tst_toascii64oob
tests/tst_toutf8
tests/tst_utf8crash
windows/libidn-*-win??.zip
windows/libidn-*-win??.zip.sig
windows/tmp32
windows/tmp64
